= form_for(user, html: { method: :put }) do |f|
  %div
    .mdl-textfield.mdl-js-textfield
      .mdl-textfield__label
        = f.label :first_name
      = f.text_field :first_name, class: "mdl-textfield__input"
  %div
    .mdl-textfield.mdl-js-textfield
      .mdl-textfield__label
        = f.label :last_name
      = f.text_field :last_name, class: "mdl-textfield__input"
  %div
    .mdl-textfield.mdl-js-textfield
      .mdl-textfield__label
        = f.label :city
      = f.select :city, cities, { include_blank: true }, class: "mdl-textfield__input"
  %div
    = f.submit "Save", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
