= form_for(user, html: { method: :put }) do |f|
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name
  .field
    = f.label :city
    %br/
    = f.select :city, cities, { include_blank: true }
