.events__events-list
  .profile-pic
    .demo-card-image.mdl-card.mdl-shadow--2dp
      = image_tag("#{user.gravatar}")
  .profile-box
    %h1= user.display_name

    %h4
      Email
      %p= user.email

    %h4
      City
      %p= user.city

  = render 'user_statistics'
