.events__events-list
  .profile-pic
    .demo-card-image.mdl-card.mdl-shadow--2dp
      = image_tag("#{decorated_user.gravatar}")
  .profile-box
    %h1= decorated_user.display_name

    %h4
      Email
      %p= user.email

    %h4
      City
      %p= decorated_user.city

  = render 'users/profile/statistics'
  = render 'users/profile/traits' if user.profile.traits.present?
  = render 'users/profile/favourite_genres' if user.profile.genres.present?
