.layout-transparent.mdl-layout.mdl-js-layout
  %header.mdl-layout__header.mdl-layout__header--transparent
    .mdl-layout__header-row
      / Title
      %span.mdl-layout-title MeetMe
      / Add spacer, to align navigation to the right
      .mdl-layout-spacer
      / Navigation
      %nav.mdl-navigation
        .mdl-navigation__link= link_to 'MeetMe', root_path
        .mdl-navigation__link= link_to 'MeetMe', root_path
        .mdl-navigation__link= link_to 'MeetMe', root_path

  .mdl-layout__drawer
    - if user_signed_in?
      %span.mdl-layout-title= user.display_name
      %nav.mdl-navigation
        %li.mdl-navigation__link= link_to 'My profile', user_profile_path(user)
        %li.mdl-navigation__link= link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      %span.mdl-layout-title Join MeetMe
      %li.mdl-navigation__link= link_to 'Log in', new_user_session_path
      %li.mdl-navigation__link= link_to 'Sign in', new_user_path
