.layout-transparent.mdl-layout.mdl-js-layout
  %header.mdl-layout__header.mdl-layout__header--transparent
    .mdl-layout__header-row
      / Title
      %span.mdl-layout-title= link_to 'MeetMe', root_path
      / Add spacer, to align navigation to the right
      .mdl-layout-spacer
      / Navigation
      %nav.mdl-navigation
        .mdl-navigation__link.special-button= link_to 'ADD EVENT', new_event_path
        - if user_signed_in? && user.events.present?
          .mdl-navigation__link= link_to 'My events', user_my_events_path(current_user)
        .mdl-navigation__link= link_to 'Users', users_path
        .mdl-navigation__link= link_to 'Theaters', theaters_path

  .mdl-layout__drawer
    - if user_signed_in?
      %span.mdl-layout-title= current_user.decorate.display_name
      %nav.mdl-navigation
        %li.mdl-navigation__link= link_to 'My profile', user_profile_path(current_user)
        %li.mdl-navigation__link= link_to 'Edit profile', edit_user_path(current_user)

        %li.mdl-navigation__link= link_to 'Log out', destroy_user_session_path, method: :delete
    - else
      %span.mdl-layout-title Join MeetMe
      %nav.mdl-navigation
        %li.mdl-navigation__link= link_to 'Log in', new_user_session_path
        %li.mdl-navigation__link= link_to 'Sign in', new_user_registration_path
