!!!
%html
  %head
    %title Meetme
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/react_hot_assets'
    = render 'layouts/navbar'

    %main.mdl-layout__container
      %p.notice= notice
      %p.alert= alert
      = yield
